<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>일정관리</title>
</head>

<body>
    <form action="loginConfirm" name="form" method="post">
        <header>로그인하기</header>
        <div class="idBox">아이디</div>
        <input type="id" class="idInput" placeholder="아이디를 입력해주세요" required name="id" maxlength="12" minlength="4">
        <div class="passwordBox">비밀번호</div>
        <input type="password" class="passwordInput" placeholder="비밀번호를 입력해주세요" required name="password" maxlength="12">
        <input type="submit" class="loginBtn" value="로그인">
        </a>
        <a class="passwordFindBtn" href="passwordFind">
            <div>비밀번호찾기</div>
        </a>
    </form>
</body>

</html>