<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/start.css">
    <title>일정관리</title>
</head>

<body>
    <header>일정 관리를 보다 편리하게.</header>
    <nav>회원님의 일정 관리를 위해선 로그인을 해주세요.</nav>
    <a class="loginBtn" href="login">
        <div>로그인</div>
    </a>
    <a class="registerBtn" href="register">
        <div>회원가입</div>
    </a>
</body>

</html>