<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/welcome.css">
    <title>일정관리</title>
</head>

<body>
    <header>
        <%=name%>님 어서오세요
    </header>
    <a class="mainBtn" href="main">
        <div>메인 페이지로</div>
    </a>
</body>

</html>