/* 로그인 완료 페이지 */
body {
  position: relative;
  width: 1080px;
  height: 1920px;

  background: #000000;
}

/* 환영합니다 ○○○님! */
header {
  position: absolute;
  width: 1080px;
  height: 116px;
  left: 0px;
  top: 902px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 116px;
  text-align: center;

  color: #ffffff;
}

/* 메인으로 버튼 */
.mainBtn {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;

  position: absolute;
  width: 900px;
  height: 100px;
  left: 87px;
  top: 1550px;

  background: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 10px;
}

/* 메인 페이지로 */
.mainBtn div {
  height: 48px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
